body { 
  background: url(../images/Intro_Background.jpg);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  z-index: 1;
  margin: 0px;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

.grid{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 15.625em auto auto auto;
  grid-template-rows: 4.6875em auto auto 3em 2.8125em;
  
}

h1{
	Font-size:45;
	color: #ffbf00;
	text-align:center;
	padding-top:0.3em;
	padding-bottom:0.3em;
} 


/****************************************************************************************************************
**************************************************Top Nav Begin**************************************************
*****************************************************************************************************************/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-left: 1.875em;
  z-index: 2;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 1.0625em;
}
.topnav img {
  width: 9.375em;
  height: 4.6875em;
  margin-top: 0.0625em;
}

.topnav #login{
  float: right;
}

.topnav #container {
  float:right;
  display: flex;
  flex-direction: row ;
  text-align: center;
  margin-top: 1.5625em;
  margin-right: 0.9375em;
 
}

.topnav input[type="text"]{
  width: 10em;
  height: 1.875em;
}

.topnav input[type="password"]{
  width: 10em;
  height: 1.875em;
}
.topnav input[type="submit"]{
  background-color: #f04b2e;
  color: white;
  border-color: #f04b2e;
  box-sizing: content-box;
  border-radius: 0.25em;
  height: 1.875em;
}

#register_button {
  background-color: #5b96dfd3;
  border-color: #5b96dfd3;
}
/****************************************************************************************************************
**************************************************Top Nav End****************************************************
*****************************************************************************************************************/

/****************************************************************************************************************
**************************************************Side Bar Begin*************************************************
*****************************************************************************************************************/
.sidenav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 6;
  width:0em;
  z-index: 1;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 0em;
  transition: 0.5s;
}

.e {
  padding: 0.4em 0.5em 0.25em 1.9em;
  text-decoration: none;
  font-size: 25px;
  color: white;
  background:none;
  display:block;
  border: none;
  width:100%;
  text-align: left;
  outline: none;
  transition: 0.3s;
}

.f {
  padding: 0.4em 0.5em 0.6em 0.5em;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color:#646464;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 0.12em;
  border-color:#111;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.c {
  padding: 0.4em 0.5em 0.6em 0.5em;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: #ffbf00;
  background-color:#646464;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 0.12em;
  border-color:#111;;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

 .d {
  padding: 2.5em 0.5em 2.5em 0.5em;
  text-decoration: none;
  font-size: 20px;
  color: white;
  background:none;
  border: none;
  text-align: center;
  outline: none;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}
 .sidenav a:link {
  text-decoration: none;
  color: inherit;
}

 .sidenav a:visited {
  text-decoration: none;
  color: inherit;
}

.sidenav a:active {
  text-decoration: none;
   color: inherit;
}


#main {
 
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
  padding: 1.25em;
  margin-right:6.25em;
  z-index:4;
}


.sidebar_open {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  margin-right:4em;
  z-index:5;
}

/****************************************************************************************************************
**************************************************Side Bar End***************************************************
*****************************************************************************************************************/

/****************************************************************************************************************
**************************************************Register Form Begin********************************************
*****************************************************************************************************************/
#register {
  width: 20em;
  margin: 1em auto;
  margin-left: 250px;
}

#register form {
  align-self: center;
  justify-self: center;
  width: 100%;
}

#register input {
  display: block;
  border: 0;
  margin: 1em;
  padding: 1em;
  width: 150%;
  box-sizing: border-box;
}

#register input[type=submit] {
  background-color: #5b96dfd3;
  color: white;
  border-radius: 2em;
}

#register h2{
  text-align: center;
  color: white;
  margin-left: 6em;
}

/****************************************************************************************************************
**************************************************Register Form End**********************************************
*****************************************************************************************************************/

/****************************************************************************************************************
********************************************Footer Begin*********************************************************
*****************************************************************************************************************/
#footer {	 
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  padding: 1em;
  text-align: center;
  width:90%;
  color: white;
  font-size: 16px;
  background-color: black;
  z-index: 5;
}
/****************************************************************************************************************
********************************************Footer End***********************************************************
*****************************************************************************************************************/


/********************************************************************************************************************************************************************
****************************************** Table_users *************************************************************************************************************
********************************************************************************************************************************************************************/

.table_u {
  width: 100%;
  margin: 1em auto;
  table-layout: auto;
  border-collapse: collapse;
  Font-size:20px;
}

.table_u th {
  border:solid  0.1em;
  border-color:#ffffff;
  color: #ffffff;
}
.table_u td{
	text-align:center;
	border:solid  0.1em;
	border-color:#ffffff;
	color: #ffffff;
}

 .comfirm{
  width:10em;
  height:2.5em;
  border-radius: 0.2em;
  background-color: #f04b2e;
  color: #ffffff; 
  font-size: 20px;
  margin-left:5em;
  margin-top:1em;
}


/********************************************************************************************************************************************************************
*********************************************************************************************************************************************************************
********************************************************************************************************************************************************************/

/********************************************************************************************************************************************************************
****************************************** REGISTER_FORM*************************************************************************************************************
********************************************************************************************************************************************************************/
.comfirm2{
  width:10em;
  height:2.5em;
  border-radius: 0.2em;
  background-color: #f04b2e;
  color: #ffffff; 
  font-size: 20px;
  margin-left:10em;
  margin-top:1em;
}

h1{
	Font-size:45px;
	color: #ffbf00;
	text-align: center;
	padding-top:15px;
	padding-bottom:15px;
} 

.t1{
	Font-size:25px;
	color: #ffbf00;
	padding-left:8em;
	padding-bottom:15px;
}

.t2{
	Font-size:25px;
	color: #ffffff;
	padding-left:20px;
}


.t3{
	Font-size:25;
	color: #ffffff;
	padding-left:100px;
	padding-bottom:15px;
	text-align: center;
	margin-left: 100px
}

.t4{
	Font-size:25;
	color: #ffffff;
	padding-left:100px;
	padding-bottom:15px;
	text-align: center;
	margin-left: 190px
}




.d_img {
  height: 250;
  width: 250;
  margin-left: 100px;
  hspace:41;  
}

.c_img {
  height: 300;
  width: 250;
  margin-left: 290px;
  hspace:41;  
}


/********************************************************************************************************************************************************************
*********************************************************************************************************************************************************************
********************************************************************************************************************************************************************/
