body { 
  background: url(../images/Intro_Background.jpg);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

.button {
	display: inline-block;
  border-radius: 4px;
  background-color: #f3fc30;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  top: 60%;
  left: 41%;
  z-index:1;
	
} /* Yellow */

/*Estilo para o bloco onde o video do background se encontra*/
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  z-index: -1;
}
.video-container video {
  min-width: 100%; 
  min-height: 100%; 

  /* Usado para fazer com que nao haja um esticamento ou uma compressão do video */
  width: auto;
  height: auto;

  /* Estilo para centrar o video */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.hide{
  visibility: hidden;
}

.show{
  visibility: visible;
}

.sidenav {
  height: 100%; 
  width:0; 
  position: fixed; 
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  margin-left: 50px;
}